<article class="exo">
  <h2>Enoncé de l'exercice</h2>
  <p>
    Créer un memory pour enfant: trouver des paires de cartes.<br>
  </p>
  <p>
    3 niveaux de difficulté :
      <ul>
        <li>facile: 8 cartes</li>
        <li>moyen: 16 cartes</li>
        <li>difficile: 32 cartes</li>
      </ul>
  </p>
  <p>
    <ul>
      <li>Un bouton nouvelle partie (menu)</li>
      <li>Un bouton recommencer</li>
      <li>Un écran victoire</li>
    </ul>
  </p>
  <p>
    <ul>
      <li>Un timer</li>
      <li>Choix de 3 thèmes</li>
    </ul>
  </p>
  <p>Un système pour enregistrer les scores.
    <ul>
      <li>Pseudo</li>
      <li>Temps</li>
      <li>Difficulté</li>
      <li>Date</li>
    </ul>
  </p>


</article>
